h1{color:purple

}
#logo
{
 width: 350px;
 }
 #veterinarioprincipal
 {
  width: 250px;  
 }
#peluqueriaprincipal
{
width: 250px;
}
.fotografias
{
 border: 3px solid blue;   
}
#menuppal > a
{
text-decoration: none;

}
#menu2 > a
{
   font-size: 25px;
}
#menuppal + a
{
   color: red;
}
h1~p
{
   color:red;
   font-weight: bold;
   font-family: cursive;
}
h3 
{
   font-size: 25px;
   font-family: serif;
}

 #fondocabeza
 {
    width: 100%;
    height: 450px; 
    border: 2px solid black;
    background-color:;

 }